<!-- <transactions-filter></transactions-filter> -->
<div class="card">
    <h5 class="text-3xl text-bold mb-5">Listagem dos gastos</h5>
    <p-table
        #dt1
        [value]="transactions"
        dataKey="id"

        [loading]="loading"
        [globalFilterFields]="[
            'description',
        ]"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-button
                    label="Clear"
                    [outlined]="true"
                    icon="pi pi-filter-slash"
                    (onClick)="clear(dt1)"
                />
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        [(ngModel)]="searchValue"
                        (input)="
                            dt1.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Buscar"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: 5rem">
                    <div class="flex align-items-center">
                        Id
                        <!-- <p-columnFilter
                            type="text"
                            field="name"
                            display="menu"
                        /> -->
                    </div>
                </th>
                <th style="min-width: 15rem">
                    <div class="flex align-items-center">
                        Descrição
                        <!-- <p-columnFilter
                            type="text"
                            field="country.name"
                            display="menu"
                        /> -->
                    </div>
                </th>
                <th style="min-width: 5rem">
                    <div class="flex align-items-center">
                        Valor
                        <!-- <p-columnFilter
                            field="representative"
                            matchMode="in"
                            display="menu"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                        >
                            <ng-template pTemplate="header">
                                <div class="px-3 pt-3 pb-0">
                                    <span class="font-bold">Agent Picker</span>
                                </div>
                            </ng-template>
                            <ng-template
                                pTemplate="filter"
                                let-value
                                let-filter="filterCallback"
                            >
                                <p-multiSelect
                                    [ngModel]="value"
                                    [options]="representatives"
                                    placeholder="Any"
                                    (onChange)="filter($event.value)"
                                    optionLabel="name"
                                >
                                    <ng-template let-option pTemplate="item">
                                        <div
                                            class="inline-block vertical-align-middle"
                                        >
                                            <img
                                                [alt]="option.label"
                                                src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{
                                                    option.image
                                                }}"
                                                width="24"
                                                class="vertical-align-middle"
                                            />
                                            <span class="ml-1 mt-1">{{
                                                option.name
                                            }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter> -->
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex align-items-center">
                        Data
                        <!-- <p-columnFilter
                            type="date"
                            field="date"
                            display="menu"
                        /> -->
                    </div>
                </th>
                <th style="min-width: 15rem">
                    <div class="flex align-items-center">
                        Categoria
                        <!-- <p-columnFilter
                            type="numeric"
                            field="balance"
                            display="menu"
                            currency="USD"
                        /> -->
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
            <tr  [ngStyle]="{'background-color': transaction.categoryId === 'default' ? '#ebebeb' : ''}">
                <td>
                    {{ transaction._id | slice : -4 }}
                </td>
                <td>
                    {{ transaction.description }}
                </td>
                <td>
                    {{ transaction.amount }}
                </td>
                <td>
                    {{ transaction.date | date : "dd/MM/yyyy" :"+0000" }}
                </td>
                <td>
                    <select class=" border-none outline-none text-gray-600" (change)="onCategorySelected($event.target, transaction)">
                        <option *ngIf="transaction.categoryId === 'default'" value="default">Sem categoria</option>
                        <option
                            *ngFor="let category of categories"
                            [selected]="transaction.categoryId === category._id"
                            [value]="category.value"
                            [id]="category._id"
                          >
                            {{ category.text }}
                          </option>
                      </select>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
    <p-toast />
</div>
