
<div class="w-full">
    <div class="m-auto max-w-2xl mt-10">
      <div class="my-5">
        <button
          (click)="goBack()"
          class="bg-slate-400 p-1 border-slate-500 border-2 hover:opacity-50 cursor-pointer text-white text-center w-20"
        >
          Voltar
        </button>
      </div>
      <div class="max-w-xl flex justify-center items-center">
            <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [labels]="chartOptions.labels"
                [responsive]="chartOptions.responsive"
            ></apx-chart>
        </div>
    </div>
</div>   


  