<div
  class="flex w-full justify-between items-center bg-gray-200 border-gray-300 border-2 p-3 my-3"
>
  <div>
    <label class="mr-2" for="month">Mês: </label>
    <select [(ngModel)]="monthSelected" name="month" id="month">
      <option *ngFor="let item of months; let i = index" [value]="i">
        {{ item }}
      </option>
    </select>
  </div>
  <div>
    <label class="mr-2" for="year">Ano: </label>
    <select [(ngModel)]="yearSelected" id="year">
      <option *ngFor="let item of years" [value]="item">{{ item }}</option>
    </select>
  </div>
  <div class="flex gap-1">
    <div
      (click)="onSync()"
      class="bg-slate-500 p-1 text-white rounded-sm hover:opacity-90 hover:cursor-pointer"
    >
      <div>Sincronizar</div>
    </div>
    <div
      (click)="onSearch()"
      class="bg-slate-500 p-1 text-white rounded-sm hover:opacity-90 hover:cursor-pointer"
    >
      <div>Buscar</div>
    </div>
  </div>
</div>
