<div class="w-full">
  <div class="m-auto max-w-2xl mt-10">
    <div class="my-5">
      <button
        (click)="goBack()"
        class="bg-slate-400 p-1 border-slate-500 border-2 hover:opacity-50 cursor-pointer text-white text-center w-20"
      >
        Voltar
      </button>
    </div>

    <div class="my-5">
      <h3 class="text-xl font-bold">
        {{ isEdit ? "Edite a Categoria" : "Adicionar Nova Categoria" }}
      </h3>
      <div>
        <form class="" (ngSubmit)="onSubmit()">
          <div class="my-2">
            <label class="mr-2" for="Texto">Texto:</label>
            <input
              class="bg-slate-300 border-slate-500 outline-none rounded-sm px-2 py-1"
              name="Texto"
              type="text"
              [(ngModel)]="category.text"
            />
          </div>

          <div class="my-2">
            <label class="mr-2" for="Valor">Valor:</label>
            <input
              type="text"
              name="Valor"
              class="bg-slate-300 border-slate-500 outline-none rounded-sm px-2 py-1"
              [(ngModel)]="category.value"
            />
          </div>

          <div class="flex">
            <button
              class="bg-slate-400 p-1 border-slate-500 border-2 hover:opacity-50 cursor-pointer text-white text-center w-20"
              type="submit"
            >
              Salvar
            </button>
            <button
              *ngIf="isEdit"
              (click)="onCancelEdit()"
              class="bg-slate-400 p-1 border-slate-500 border-2 hover:opacity-50 cursor-pointer text-white text-center w-20 ml-2"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>

    <table class="min-w-full bg-white border border-gray-300">
      <!-- Table Header -->
      <thead>
        <tr>
          <th
            class="py-2 px-4 border-b text-start"
            *ngFor="let item of tableHeader"
          >
            {{ item }}
          </th>
          <!-- Add more header columns if needed -->
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody>
        <!-- Table Row 1 -->

        <tr *ngFor="let item of tableBody">
          <td class="py-2 px-4 border-b">{{ item._id | slice : -4 }}</td>
          <td class="py-2 px-4 border-b">{{ item.text }}</td>
          <td class="py-2 px-4 border-b">{{ item.value }}</td>
          <td class="py-2 px-4 border-b">
            <div
              (click)="onEdit(item)"
              class="bg-blue-400 p-2 border-blue-500 border-2 hover:opacity-50 cursor-pointer text-white text-center w-16"
            >
              Edit
            </div>
          </td>
          <td class="py-2 px-4 border-b">
            <div
              (click)="onDelete(item._id)"
              class="bg-red-400 p-2 border-red-500 border-2 hover:opacity-50 cursor-pointer text-white text-center w-16"
            >
              Delete
            </div>
          </td>
        </tr>
        <!-- Table Row 2 -->

        <!-- Add more rows if needed -->
      </tbody>
    </table>
  </div>
</div>
