<!-- Example HTML for a styled table using Tailwind CSS -->

<div class="max-w-screen-md mx-auto p-6">
  <div class="my-5">
    <div
      class="bg-slate-400 p-2 border-slate-500 border-2 hover:opacity-50 w-44 cursor-pointer"
      (click)="onRefresh()"
    >
      <div class="text-center text-white">Refresh</div>
    </div>
    <div
      (click)="goToCategories()"
      class="bg-slate-400 p-2 border-slate-500 border-2 hover:opacity-50 w-44 cursor-pointer"
    >
      <div class="text-center text-white">Editar Categorias</div>
    </div>
  </div>
  <transactions-list [transactions]="transactions"></transactions-list>
</div>
