<div class="max-w-screen-md mx-auto p-6">
  <div class="my-5">
    <div
      class="bg-slate-400 p-2 border-slate-500 border-2 hover:opacity-50 w-44 cursor-pointer"
      (click)="onSyncTransactions()"
    >
      <div class="text-center text-white">Sincronizar Dados</div>
    </div>
    <div
      class="bg-slate-400 p-2 border-slate-500 border-2 hover:opacity-50 w-44 cursor-pointer"
      (click)="onRefresh()"
    >
      <div class="text-center text-white">Refresh</div>
    </div>
    <div
      (click)="goToCategories()"
      class="bg-slate-400 p-2 border-slate-500 border-2 hover:opacity-50 w-44 cursor-pointer"
    >
      <div class="text-center text-white">Editar Categorias</div>
    </div>
    <div
      (click)="goToChats()"
      class="bg-slate-400 p-2 border-slate-500 border-2 hover:opacity-50 w-44 cursor-pointer"
    >
      <div class="text-center text-white">Visualizar Dados</div>
    </div>
  </div>
  <transactions-list
    [transactions]="transactions"
    [categories]="categories"
    (refreshList)="onRefresh()"
  ></transactions-list>
</div>
